
.ic-bold:before { content: '\e800'; } /* '' */
.ic-italic:before { content: '\e801'; } /* '' */
.ic-text-height:before { content: '\e802'; } /* '' */
.ic-text-width:before { content: '\e803'; } /* '' */
.ic-align-center:before { content: '\e804'; } /* '' */
.ic-align-right:before { content: '\e805'; } /* '' */
.ic-align-justify:before { content: '\e806'; } /* '' */
.ic-list:before { content: '\e807'; } /* '' */
.ic-indent-left:before { content: '\e808'; } /* '' */
.ic-indent-right:before { content: '\e809'; } /* '' */
.ic-align-left:before { content: '\e80a'; } /* '' */
.ic-resize-full:before { content: '\e80b'; } /* '' */
.ic-resize-small:before { content: '\e80c'; } /* '' */
.ic-up-circled:before { content: '\e80d'; } /* '' */
.ic-cog:before { content: '\e80e'; } /* '' */
.ic-wrench-circled:before { content: '\e80f'; } /* '' */
.ic-wrench:before { content: '\e810'; } /* '' */
.ic-calendar:before { content: '\e811'; } /* '' */
.ic-quote:before { content: '\e812'; } /* '' */
.ic-briefcase:before { content: '\e813'; } /* '' */
.ic-adult:before { content: '\e814'; } /* '' */
.ic-gift:before { content: '\e815'; } /* '' */
.ic-fire:before { content: '\e816'; } /* '' */
.ic-youtube:before { content: '\e817'; } /* '' */
.ic-block:before { content: '\e818'; } /* '' */
.ic-thumbs-up:before { content: '\e819'; } /* '' */
.ic-thumbs-down:before { content: '\e81a'; } /* '' */
.ic-export:before { content: '\e81b'; } /* '' */
.ic-pencil:before { content: '\e81c'; } /* '' */
.ic-doc-new:before { content: '\e81d'; } /* '' */
.ic-edit:before { content: '\e81e'; } /* '' */
.ic-print:before { content: '\e81f'; } /* '' */
.ic-bell:before { content: '\e820'; } /* '' */
.ic-comment:before { content: '\e821'; } /* '' */
.ic-comment-alt:before { content: '\e822'; } /* '' */
.ic-warning:before { content: '\e823'; } /* '' */
.ic-phone:before { content: '\e824'; } /* '' */
.ic-folder-close:before { content: '\e825'; } /* '' */
.ic-folder-open:before { content: '\e826'; } /* '' */
.ic-trash:before { content: '\e827'; } /* '' */
.ic-compass:before { content: '\e828'; } /* '' */
.ic-location:before { content: '\e829'; } /* '' */
.ic-volume-off:before { content: '\e82a'; } /* '' */
.ic-volume-down:before { content: '\e82b'; } /* '' */
.ic-volume:before { content: '\e82c'; } /* '' */
.ic-volume-up:before { content: '\e82d'; } /* '' */
.ic-lightbulb:before { content: '\e82e'; } /* '' */
.ic-down:before { content: '\e82f'; } /* '' */
.ic-left:before { content: '\e830'; } /* '' */
.ic-right:before { content: '\e831'; } /* '' */
.ic-up:before { content: '\e832'; } /* '' */
.ic-up-open:before { content: '\e833'; } /* '' */
.ic-right-open:before { content: '\e834'; } /* '' */
.ic-left-open:before { content: '\e835'; } /* '' */
.ic-down-open:before { content: '\e836'; } /* '' */
.ic-zoom-out:before { content: '\e837'; } /* '' */
.ic-zoom-in:before { content: '\e838'; } /* '' */
.ic-arrows-cw:before { content: '\e839'; } /* '' */
.ic-fontsize:before { content: '\e83a'; } /* '' */
.ic-font:before { content: '\e83b'; } /* '' */